<div class="">
    <div class="">
      <br>
      <ul class="gallery">
        <li ng-animate="'animate'" class="gallery" ng-repeat="item in gallery | orderBy: galleryOrder:direction">
          <img src="http://ec.europa.eu/research/headlines/news/images/11_12_17_small.jpg" alt="">
          <div class="galleryInfo">
            <h2>Title</h2>
            <h3>Name</h3>
            <p>Description</p>
          </div>
        </li>
  
        <li ng-animate="'animate'" class="gallery" ng-repeat="item in gallery | orderBy: galleryOrder:direction">
          <img src="http://ec.europa.eu/research/headlines/news/images/11_12_17_small.jpg" alt="">
          <div class="galleryInfo">
            <h2>Title</h2>
            <h3>Name</h3>
            <p>Description</p>
          </div>
        </li>
  
        <li ng-animate="'animate'" class="gallery" ng-repeat="item in gallery | orderBy: galleryOrder:direction">
          <img src="http://ec.europa.eu/research/headlines/news/images/11_12_17_small.jpg" alt="">
          <div class="galleryInfo">
            <h2>Title</h2>
            <h3>Name</h3>
            <p>Description</p>
          </div>
        </li>
  
        <li ng-animate="'animate'" class="gallery" ng-repeat="item in gallery | orderBy: galleryOrder:direction">
          <img src="http://ec.europa.eu/research/headlines/news/images/11_12_17_small.jpg" alt="">
          <div class="galleryInfo">
            <h2>Title</h2>
            <h3>Name</h3>
            <p>Description</p>
          </div>
        </li>
        
        <li ng-animate="'animate'" class="gallery" ng-repeat="item in gallery | orderBy: galleryOrder:direction">
          <img src="http://ec.europa.eu/research/headlines/news/images/11_12_17_small.jpg" alt="">
          <div class="galleryInfo">
            <h2>Title</h2>
            <h3>Name</h3>
            <p>Description</p>
          </div>
        </li>
        
        <li ng-animate="'animate'" class="gallery" ng-repeat="item in gallery | orderBy: galleryOrder:direction">
          <img src="http://ec.europa.eu/research/headlines/news/images/11_12_17_small.jpg" alt="">
          <div class="galleryInfo">
            <h2>Title</h2>
            <h3>Name</h3>
            <p>Description</p>
          </div>
        </li>
  
        <li ng-animate="'animate'" class="gallery" ng-repeat="item in gallery | orderBy: galleryOrder:direction">
            <img src="http://ec.europa.eu/research/headlines/news/images/11_12_17_small.jpg" alt="">
            <div class="galleryInfo">
              <h2>Title</h2>
              <h3>Name</h3>
              <p>Description</p>
            </div>
          </li>
          
          <li ng-animate="'animate'" class="gallery" ng-repeat="item in gallery | orderBy: galleryOrder:direction">
            <img src="http://ec.europa.eu/research/headlines/news/images/11_12_17_small.jpg" alt="">
            <div class="galleryInfo">
              <h2>Title</h2>
              <h3>Name</h3>
              <p>Description</p>
            </div>
          </li>
          
          <li ng-animate="'animate'" class="gallery" ng-repeat="item in gallery | orderBy: galleryOrder:direction">
            <img src="http://ec.europa.eu/research/headlines/news/images/11_12_17_small.jpg" alt="">
            <div class="galleryInfo">
              <h2>Title</h2>
              <h3>Name</h3>
              <p>Description</p>
            </div>
          </li>
      </ul>
    </div>
  </div>