.signin-card{
  width: 100%;
  border-radius: 10px;
}
.card-basic-content{
  padding: 30px 0px;
  text-align: center;
  color: black;
  /* background-color: blue; */
  
}
.example-form {
  width: 100%;
}

.example-full-width {
  font-size: 18px;
  width: 100%;
  margin: 4px 0px;
}

.form-button{

  width: 100%;
  font-size: 18px;
  padding: 4px 0px;
  margin-top: 25px;
  margin-bottom: 50px;
  border-radius: 20px;
}