<div class="container">
  <br>
  <br>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="viewAds">
        <h3 style="color:black">Ads Information</h3>
        <p> <strong>Title:</strong> Two room based flat is given rent </p>
        <p> <strong>BeadRoom:</strong> 3 </p>
        <p> <strong>WashRoom:</strong> 2 </p>
        <p> <strong>Kitchen:</strong> 1 </p>
        <p> <strong>Taka:</strong> 12,000/= </p>
        <p> <strong>Area:</strong> 1425 squre foot </p>
        <p> <strong>Address:</strong> Binodpur, Rajshahi </p>
        <p> <strong>Phone:</strong> 01684278090 </p>
        <p> <strong>Date:</strong> 05-07-2018 </p>
        <p> <strong>Description:</strong> This is a best room in our binodpur. it is tiles all floor.</p>
        <button type="submit" mat-raised-button color="warn" class="form-button">Delete</button> &nbsp;
        <button type="submit" mat-raised-button color="primary" class="form-button">Update</button>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <br>
  <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <div class="viewAds">
          <h3 style="color:black">Ads Information</h3>
          <p> <strong>Title:</strong> Two room based flat is given rent </p>
          <p> <strong>BeadRoom:</strong> 3 </p>
          <p> <strong>WashRoom:</strong> 2 </p>
          <p> <strong>Kitchen:</strong> 1 </p>
          <p> <strong>Taka:</strong> 12,000/= </p>
          <p> <strong>Area:</strong> 1425 squre foot </p>
          <p> <strong>Address:</strong> Binodpur, Rajshahi </p>
          <p> <strong>Phone:</strong> 01684278090 </p>
          <p> <strong>Date:</strong> 05-07-2018 </p>
          <p> <strong>Description:</strong> This is a best room in our binodpur. it is tiles all floor.</p>
          <button type="submit" mat-raised-button color="warn" class="form-button">Delete</button> &nbsp;
        <button type="submit" mat-raised-button color="primary" class="form-button">Update</button>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <div class="viewAds">
            <h3 style="color:black">Ads Information</h3>
            <p> <strong>Title:</strong> Two room based flat is given rent </p>
            <p> <strong>BeadRoom:</strong> 3 </p>
            <p> <strong>WashRoom:</strong> 2 </p>
            <p> <strong>Kitchen:</strong> 1 </p>
            <p> <strong>Taka:</strong> 12,000/= </p>
            <p> <strong>Area:</strong> 1425 squre foot </p>
            <p> <strong>Address:</strong> Binodpur, Rajshahi </p>
            <p> <strong>Phone:</strong> 01684278090 </p>
            <p> <strong>Date:</strong> 05-07-2018 </p>
            <p> <strong>Description:</strong> This is a best room in our binodpur. it is tiles all floor.</p>
            <button type="submit" mat-raised-button color="warn" class="form-button">Delete</button> &nbsp;
        <button type="submit" mat-raised-button color="primary" class="form-button">Update</button>
          </div>
        </div>
        <div class="col-sm-1"></div>
      </div>
</div>