<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-1">
      <h4>This is User House Ads List</h4>
      <h4>This section is image section</h4>
      <mdb-card class="signin-card">

        <mdb-card-body class="card-basic-content">
          <div class="row">
            <div class="col-md-6">
              <table mdbTable striped="true">
                <thead>
                  <tr></tr>
                </thead>
                <tbody>
                  <tr mdbTableCol>
                    <th scope="row"><b>Bed ROOM</b></th>
                    <td>3</td>
                  <tr mdbTableCol>
                    <th scope="row"><b>Wash Room</b></th>
                    <td>2</td>
                  </tr>
                  <tr mdbTableCol>
                    <th scope="row"><b>Taka</b></th>
                    <td>15,000</td>
                  </tr>
                  <tr mdbTableCol>
                    <th scope="row"><b>Address</b></th>
                    <td>Utora 13 sector, Dhaka</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="col-md-6">
              <table mdbTable striped="true">
                <thead>
                  <tr></tr>
                </thead>
                <tbody>
                  <tr mdbTableCol>
                    <th scope="row"><b>Balcony</b></th>
                    <td>Yes</td>
                  </tr>
                  <tr mdbTableCol>
                    <th scope="row"><b>Mobile</b></th>
                    <td>01684278090</td>
                  </tr>
                  <tr mdbTableCol>
                    <th scope="row"><b>Area</b></th>
                    <td>1260sqft</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <hr>
          <span><i><b>Description:</b></i></span>
          <p>
              I am MEAN Stack Developer. I am studying in B.Sc Engineering in "Computer
               Science and Engineering" of University of Rajshahi, Bangladesh.
                I love coding. I have an indomitable patient in continuously for
                a long time coding. In previous, I have developed more than 5
                projects in laravel. I am working in MEAN more than 1 year. I have
                 also developed many projects by MEAN and even though working on many
                  projects in parallel. I have also worked many professional projects.
                   I have good performance which is given the below
          </p>
          <br>
          <hr>
          <span><i><b>Animates:</b></i></span>
          <p>
            Here list of some animates
          </p>

        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>
