<app-sidebar></app-sidebar>
<div class="container">
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-6 offset-md-3" style="padding: 0px;">
      <h4>All Room Number List</h4>
      <mdb-card class="testimonial-card">
        <!--Bacground color-->
        <div class="card-up aqua-gradient">
            <br>
            <h4>Room Number List</h4>
            <br>
        </div>

        <!--Avatar-->

        <mdb-card-body>
          <!--Name-->
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let _getRoomNumber of getRoomNumber">
              {{ _getRoomNumber.roomName }}
              <span class="pull-right">
                <button mdbBtn type="button" gradient="blue" mdbWavesEffect class="rounded" (click)="deleteRoom(_getRoomNumber._id)">Delete</button>
              </span>
            </li>

          </ul>
        </mdb-card-body>
      </mdb-card>
      <br>
      <br>
    </div>
    <div class="col-sm-6 offset-sm-3" style="padding: 0px;">
      <mdb-card class="signin-card">

        <mdb-card-body class="card-basic-content">
            <!--Name-->
          <mdb-card-title>
              <h4>Add Room Number</h4>
          </mdb-card-title>
          <hr>
          <form class="example-form" [formGroup]="RoomNumber" (ngSubmit)="onSubmit()" novalidate>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Room Number" [formControl]="roomNumber">
              <mat-hint>Enter Room Number!</mat-hint>
              <mat-error *ngIf="roomNumber.hasError('required')">Please etner room Number!</mat-error>
              <mat-error *ngIf="roomNumber.hasError('max')">Please etner less than 100 room Number!</mat-error>
              <mat-error *ngIf="roomNumber.hasError('min')"> Please etner greater than 0 room Number!</mat-error>
              <mat-error *ngIf="roomNumber.hasError('pattern')">Please enter Only number</mat-error>
            </mat-form-field>
            <button [disabled]='!RoomNumber.valid' type="submit" mat-raised-button color="primary" class="form-button">Submit</button>
          </form>
        </mdb-card-body>
      </mdb-card>
      <br>
      <br>
    </div>
  </div>
</div>
