<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand">Menu<span class="sr-only">(current)</span></a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link waves-light" mdbWavesEffect href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="/profile">View Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="/user">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="/edit">Edit Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="/ads">View Ads</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="/editads">Edit Ads</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="/admin">Admin</a>
        </li>
        <!-- Dropdown -->
      </ul>
      <ul class="navbar-nav mr-0">
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect ><span class="caret">Shahabuddin Ahmed</span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" >Update Profile</a>
            <a class="dropdown-item waves-light">Logout</a>
          </div>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect routerLink="/register">Register</a>
        </li>
    </ul>
      <!-- Links -->

      <!-- Search form -->
      <!-- <form class="form-inline waves-light" mdbWavesEffect>
          <div class="md-form mt-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search">
          </div>
      </form> -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
