<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand">Menu<span class="sr-only">(current)</span></a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="/" routerLinkActive="active">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a *ngIf="_commonService.isUser()" class="nav-link waves-light" mdbWavesEffect routerLink="createads" routerLinkActive="active">Create Ads</a>
        </li>
        <li class="nav-item">
          <a *ngIf="_commonService.isUser()" class="nav-link waves-light" mdbWavesEffect routerLink="user" routerLinkActive="active">User</a>
        </li>
        <li class="nav-item">
          <a *ngIf="_commonService.isAdmin()" class="nav-link waves-light" mdbWavesEffect routerLink="admin" routerLinkActive="active">Admin</a>
        </li>
        <!-- Dropdown -->
      </ul>
      <ul class="navbar-nav mr-0">
        <li *ngIf="_commonService.isUser()" class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect ><span class="caret">{{ getName() }}</span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect routerLink="edit/{{getUserID()}}">Update Profile</a>
            <a class="dropdown-item waves-light" mdbWavesEffect (click)="loggedOut()">Logout</a>
          </div>
        </li>
        <li *ngIf="_commonService.isAdmin()" class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect ><span class="caret">{{ getAdminName() }}</span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect routerLink="adminupdate/{{getAdminID()}}">Update Profile</a>
            <a class="dropdown-item waves-light" mdbWavesEffect (click)="adminLoggedOut()">Logout</a>
          </div>
        </li>
        <li class="nav-item">
            <a *ngIf="!_commonService.isUser() && !_commonService.isAdmin()" class="nav-link waves-light" mdbWavesEffect routerLink="login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
            <a *ngIf="!_commonService.isUser() && !_commonService.isAdmin()" class="nav-link waves-light" mdbWavesEffect routerLink="register" routerLinkActive="active">Register</a>
        </li>
    </ul>
      <!-- Links -->

      <!-- Search form -->
      <!-- <form class="form-inline waves-light" mdbWavesEffect>
          <div class="md-form mt-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search">
          </div>
      </form> -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
