<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
      <br>
    </div>
    <div class="col-md-10 offset-1">
      <mdb-card class="signin-card">

        <mdb-card-body class="card-basic-content" *ngIf="house">
          <div class="row">
            <div class="col-md-6">
              <table mdbTable striped="true">
                <thead>
                  <tr></tr>
                </thead>
                <tbody>
                  <tr mdbTableCol>
                    <th scope="row"><b>Bed ROOM</b></th>
                    <td>{{ house.bedRoom }}</td>
                  <tr mdbTableCol>
                    <th scope="row"><b>Wash Room</b></th>
                    <td>{{ house.washRoom }}</td>
                  </tr>
                  <tr mdbTableCol>
                    <th scope="row"><b>Taka</b></th>
                    <td>{{ house.taka }}</td>
                  </tr>
                  <tr mdbTableCol>
                    <th scope="row"><b>Address</b></th>
                    <td>{{ house.location }}, {{ house.division }}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="col-md-6">
              <table mdbTable striped="true">
                <thead>
                  <tr></tr>
                </thead>
                <tbody>
                  <tr mdbTableCol>
                    <th scope="row"><b>Balcony</b></th>
                    <td>Yes</td>
                  </tr>
                  <tr mdbTableCol>
                    <th scope="row"><b>Mobile</b></th>
                    <td>{{ house.phon }}</td>
                  </tr>
                  <tr mdbTableCol>
                    <th scope="row"><b>Area</b></th>
                    <td>{{ house.area }}sqft</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <hr>
          <span><i><b>Description:</b></i></span>
          <p>
              {{ house.description }}
          </p>
          <br>
          <hr>
          <span><i><b>Amenities:</b></i></span>
          <p>
            Here list of some amenities
          </p>

        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>
